/* global */
* {
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Ivy Mode', sans-serif;
    -webkit-font-smoothing: antialiased; 
}

img {
    max-width: 100%;
    display: block;
}

ul, ol {
    list-style: none;
}

.cor-fundo-claro {
	background-color: #ede6e1;
}

.cor-texto-escuro {
	color: #73472a;
}

.cor-fundo-escuro {
	background-color: #73472a;
}

.cor-texto-claro {
	color: #ede6e1;
}

/* navbar */
.header-blur {
	background-color: rgba(255, 255, 255, 0.3); 
	backdrop-filter: blur(10px);
}

#navbar {
	transition: 200ms;
}

.nav-gap {
	gap: 100px;
}

#navbar.hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: 200ms;
}

/* seção principal */
.imagem-fundo {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('imagens/imagemInicial.webp'); 
	background-size: cover; 
	background-position: center;
}

/* carrossel */
.slider {
	width: 100%;
	height: var(--height);
	overflow: hidden;
	mask-image: linear-gradient(
		to right,
		transparent 0%,
		#000000 10% 90%,
		transparent
	);
}

.slider .list {
	display: flex;
	width: 100%;
	min-width: calc(var(--width) * var(--quantity));
	position: relative;
}

.slider .list .projeto {
	width: var(--width);
	height: var(--height);
	border: 4px solid #73472a;
	border-radius: 20px;
	background-color: #ede6e1;
	overflow: hidden;
	position: absolute;
	display: flex;
	align-items: flex-end;
	left: 100%;
	animation: autoRun 12s linear infinite;
	transition: filter 0.5s;
	animation-delay: calc( (12s / var(--quantity)) * (var(--position) - 1) - 12s);
}

.conteudo {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(115, 71, 42, 0.90); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

@keyframes autoRun {
	from{
		left: 100%;
	}
	to{
		left: calc(var(--width) * -1);
	}
}

.list:hover .projeto {
	animation-play-state: paused;
	filter: grayscale(1);
}

.list .projeto:hover {
	filter: grayscale(0);
}

.slider .list .projeto:hover .conteudo {
    opacity: 1;
}

.conteudo h2{
	color: #ede6e1;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.conteudo button {
	padding: 16px;
	font-size: 18px;
	color: #73472a;
	background-color: #ede6e1;
	border: 2px solid #73472a;
	cursor: pointer;
	border-radius: 12px;
	transition: 0.4s ease;
}

.conteudo button:hover {
	background-color: #c7c1bd;
}

#overlay {
	width: 100%;
	height: 100%;
	background-color: #00000080;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transition: 200ms;
}

#overlay.active {
	visibility: visible;
	opacity: 1;
}

.modal {
	width: 50%;
	height: 100%;
	border: 3px solid #73472a;
	background-color: #1a1a1a;
	position: fixed;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	transition: 200ms;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: block;
	overflow: hidden;
}

#conteudoModal {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-top: 5px;
}

#conteudoModal img {
	width: 100%;
	display: block;
	margin-bottom: 5px;
	object-fit: contain;
	margin: 0 auto 5px;
}

.modal.active {
	visibility: visible;
	opacity: 1;
}

.modal img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

#botaoX {
	position: absolute;
	top: 20px;
	right: 20px;
	fill: #333;
	cursor: pointer;
	z-index: 10;
	background-color: transparent;
	border: none;
	transition: 200ms;
	display: flex;
	align-items: center;
	justify-content: center;
}

#botaoX:hover {
	fill: #73472a;
}

#modal {
	position: fixed;
	overflow-y: auto;
}

/* media queries - mobile first */
@media (max-width: 767px)
{
	.nav-gap {
		gap: 70px;
	}
	
	.col-md-8.p-5 {
		padding: 1.5rem !important;
	}

	.modal {
		width: 95%;
		height: 90%;
		border-width: 2px;
	}

	#botaoX {
		top: 5px;
		right: 5px;
		transform: scale(0.8);
	}

	.slider {
		--width: 200px;
		--height: 150px;
	}

	.slider .list .projeto {
        animation-duration: 15s; 
        
        /* 2. O SEGREDO: Subtraímos o tempo total (10s) do cálculo. 
           Isso faz os cards já aparecerem espalhados na tela assim que você abre o site. */
        animation-delay: calc((15s / var(--quantity)) * (var(--position) - 1) - 15s) !important;
        
        /* 3. Começamos um pouco antes dos 100% para ele "entrar" mais rápido */
        left: 100%; 
    }

	@keyframes autoRun {
		from {
			left: 100%;
		}
		to {
			left: calc(var(--width) * -1);
		}
	}
}